html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background: #ded6d1;
  transition: background 500ms cubic-bezier(0.85, -0.48, 0.26, 0.67);
  color: #333;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  font-family: "Georgia", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

main {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#question {
  transition: opacity 150ms;
  text-align: center;
  max-width: 95%;
  font-size: 5em;
  font-weight: 100;
  margin: 0 6px;
}
#question p {
  margin: 0;
}
#question .head {
  font-weight: bold;
  margin-bottom: .75em;
}

@media (max-width: 500px) {
  #question {
  font-size: 2.5em;
  }
}

#question.monologue12,
#question.dialogue9 {
  font-size: 1.4em;
  max-width: 800px;
  text-align: left;
}

ul {  list-style: inside; }

.no-wrap {
  white-space: nowrap;
}

.reload {
  transition: all 300ms;
  transform: scale(1);
  opacity: 0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 100%;
  background: #fff;
  position: fixed;
  cursor: pointer;
  height: 50px;
  width: 50px;
  top: 85%;
  left: 50%;
}
.reload.active {
  transform: scale(1);
  opacity: 1;
}
.reload svg {
  transition: transform 500ms cubic-bezier(0.85, -0.48, 0.26, 0.67);
  height: 100%;
  width: 100%;
}
.reload svg path {
  fill: #111;
}

.support {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
}

.support .btn {
  transition: all 1s;
}

.support .btn a {
  display: none;
}

.support .btn span {
  display: none;
  padding: 0 6px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  overflow-wrap: break-word;
}

.btn {
  box-sizing:border-box;
  background: #fff;
  height: 64px;
  width: 64px;
  overflow: hidden;
}

.btn.expand {
  width: 160px;
  height: 80px;
  cursor: pointer;
  position: relative;
}

.btn.expand span {
  margin-top: 10px;
  display: block;
}

.btn.expand a {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-round {
  border-radius: 50px;
}

.btn-bmc.expand:after {
  width: 160px;
  background: url("./assets/logo-bmc.svg") no-repeat 6px 2px;
  background-size: 90% auto;
}

.btn-bmc:after {
  content: "";
  display: inline-block;
  height: 58px;
  vertical-align: bottom;
  width: 58px;
  background: url(./assets/logo-bmc.svg) no-repeat 5px 10px;
  background-size: auto 85%;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links>div {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    background: #c8ffea;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.links .title {
    font-weight: bold;
}

.links .copy {
    padding: 4px;
    cursor: pointer;
    background: #baeeda;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

nav {
    background: rgba(255, 255, 255, 0.2);
}

nav ul {
    margin: 0;
    padding: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 50px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
}
nav ul li a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
}
